openapi: 3.0.3
tags:
  - name: model
    description: model operations
x-stoplight:
  id: 4vb63zck1yndo
info:
  title: Jaqpot API
  version: 1.0.0
  description: 'A modern RESTful API for molecular modeling, built using Spring Boot and Kotlin. Supports model management, prediction services, and integrates seamlessly with machine learning workflows.'
  contact:
    name: Jaqpot
    url: 'https://jaqpot.org'
    email: upci.ntua@gmail.com
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
security:
  - bearerAuth: [ ]
servers:
  - url: 'https://api.jaqpot.org'
    description: Jaqpot API
paths:
  /v1/models:
    post:
      summary: Create a new model
      security:
        - bearerAuth: [ ]
      tags:
        - model
      operationId: createModel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model'
      responses:
        '201':
          description: Model created successfully
        '400':
          description: Invalid input
      x-stoplight:
        id: 9ffjy7o77jc41
    get:
      x-spring-paginated: true
      summary: Get paginated models
      security:
        - bearerAuth: [ ]
      tags:
        - model
      operationId: getModels
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Paginated list of models
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/Model'
                  totalElements:
                    type: integer
                  totalPages:
                    type: integer
                  pageSize:
                    type: integer
                  pageNumber:
                    type: integer
        '400':
          description: Invalid input
  '/v1/models/{id}':
    get:
      summary: Get a Model
      description: Retrieve a single model by its ID
      security:
        - bearerAuth: [ ]
      tags:
        - model
      operationId: getModelById
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the model to retrieve
          schema:
            type: integer
            format: int64
            example: 0
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        '404':
          description: Model not found
  /v1/models/{modelId}/predict:
    post:
      summary: Predict with Model
      description: Submit a dataset for prediction using a specific model
      security:
        - bearerAuth: [ ]
      tags:
        - model
      operationId: predictWithModel
      parameters:
        - name: modelId
          in: path
          required: true
          description: The ID of the model to use for prediction
          schema:
            type: integer
            format: int64
            example: 0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dataset'
      responses:
        '201':
          description: Prediction created successfully
        '400':
          description: Invalid Request
        '404':
          description: Model not found
        '500':
          description: Internal Server Error
  /v1/models/{id}/partial:
    patch:
      summary: Partially update specific fields of a model
      operationId: partiallyUpdateModel
      tags:
        - model
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - visibility
              properties:
                name:
                  type: string
                visibility:
                  $ref: '#/components/schemas/ModelVisibility'
                organizationIds:
                  type: array
                  items:
                    type: integer
                    format: int64
      responses:
        '200':
          description: Model fields updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        '404':
          description: Model not found
        '400':
          description: Invalid input
  '/v1/datasets/{id}':
    get:
      summary: Get a Dataset
      description: Retrieve a single dataset by its ID
      security:
        - bearerAuth: [ ]
      tags:
        - dataset
      operationId: getDatasetById
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the dataset to retrieve
          schema:
            type: integer
            format: int64
            example: 0
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '404':
          description: Model not found
  /v1/organizations:
    get:
      summary: Get all organizations
      operationId: getAllOrganizations
      tags:
        - organization
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'

    post:
      summary: Create a new organization
      operationId: createOrganization
      tags:
        - organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
      responses:
        '201':
          description: Organization created successfully

  /v1/organizations/{id}:
    put:
      summary: Update an existing organization
      operationId: updateOrganization
      tags:
        - organization
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
      responses:
        '200':
          description: Organization updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '404':
          description: Organization not found
  /v1/organizations/{name}:
    get:
      summary: Get organization by name
      operationId: getOrganizationByName
      tags:
        - organization
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '404':
          description: Organization not found
  /v1/organizations/{orgName}/invitations:
    post:
      tags:
        - organization- invitation
      summary: "Create new invitations for an organization"
      description: "This endpoint allows an organization admin to create new invitations for users."
      operationId: "createInvitations"
      parameters:
        - name: "orgName"
          in: "path"
          description: "Name of the organization"
          required: true
          schema:
            type: "string"
      requestBody:
        description: "Invitation request payload"
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                emails:
                  type: "array"
                  items:
                    type: "string"
                    format: email
                  description: "List of email addresses to invite"
                  example: [ "user1@example.com", "user2@example.com" ]
      responses:
        "201":
          description: "Invitations created successfully"
        "400":
          description: "Bad request, invalid input"
        "401":
          description: "Unauthorized, only admins can create invitations"
        "429":
          description: "Too many requests, rate limit exceeded"
  /v1/organizations/{name}/invitations/{uuid}:
    get:
      tags:
        - organization-invitation
      summary: "Get the status of an invitation"
      description: "This endpoint allows a user to check the status of an invitation."
      operationId: "getInvitation"
      parameters:
        - name: "name"
          in: "path"
          description: "Name of the organization"
          required: true
          schema:
            type: "string"
        - name: "uuid"
          in: "path"
          description: "UUID of the invitation"
          required: true
          schema:
            type: "string"
            format: uuid
      responses:
        "200":
          description: "Invitation status retrieved successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInvitation'
        "400":
          description: "Bad request, invalid input"
        "404":
          description: "Invitation not found"
    put:
      tags:
        - organization-invitation
      summary: "Update the status of an invitation"
      description: "This endpoint allows a user to update the status of an invitation."
      operationId: "updateInvitation"
      parameters:
        - name: "name"
          in: "path"
          description: "Name of the organization"
          required: true
          schema:
            type: string
        - name: "uuid"
          in: "path"
          description: "UUID of the invitation"
          required: true
          schema:
            type: string
            format: uuid

      requestBody:
        description: "Invitation status update payload"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationInvitation'
      responses:
        "200":
          description: "Invitation status updated successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInvitation'
        "400":
          description: "Bad request, invalid input"
        "404":
          description: "Invitation not found"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Model:
      type: object
      required:
        - jaqpotpyVersion
        - libraries
        - dependentFeatures
        - independentFeatures
        - actualModel
        - name
        - description
        - visibility
        - type
      properties:
        id:
          type: integer
          format: int64
          example: 0
        meta:
          type: object
          description: A JSON object containing meta information.
          additionalProperties:
            type: object
        name:
          type: string
          minLength: 3
          maxLength: 255
          example: My Model
        description:
          type: string
          example: A description of your model
        type:
          type: string
          enum:
            - SKLEARN
            - TORCH
            - R
        jaqpotpyVersion:
          type: string
          example: 1.0.0
        libraries:
          type: array
          items:
            $ref: '#/components/schemas/Library'
        dependentFeatures:
          type: array
          items:
            $ref: '#/components/schemas/Feature'
        independentFeatures:
          type: array
          items:
            $ref: '#/components/schemas/Feature'
        organizations:
          type: array
          items:
            $ref: '#/components/schemas/Organization'
        visibility:
          $ref: '#/components/schemas/ModelVisibility'
        reliability:
          type: integer
          example: 5
        pretrained:
          type: boolean
          example: false
        actualModel:
          type: string
          format: byte
          description: A base64 representation of the actual model.
          x-field-extra-annotation: '@com.fasterxml.jackson.annotation.JsonProperty(access = JsonProperty.Access.WRITE_ONLY)'
        creator:
          $ref: '#/components/schemas/User'
        canEdit:
          description: If the current user can edit the model
          type: boolean
        createdAt:
          type: LocalDateTime
          format: date-time
          description: The date and time when the feature was created.
          example: '2023-01-01T12:00:00Z'
        updatedAt:
          type: LocalDateTime
          description: The date and time when the feature was last updated.
          example: '2023-01-01T12:00:00Z'
    ModelVisibility:
      type: string
      enum:
        - PUBLIC
        - ORG_SHARED
        - PRIVATE
    Library:
      type: object
      required:
        - name
        - version
      properties:
        # For example:
        # Define the properties of Library here
        id:
          type: integer
          format: int64
        name:
          type: string
          example: Library Name
        version:
          type: string
          example: 1.24.0
        createdAt:
          type: LocalDateTime
          format: date-time
          description: The date and time when the feature was created.
          example: '2023-01-01T12:00:00Z'
        updatedAt:
          type: LocalDateTime
          description: The date and time when the feature was last updated.
          example: '2023-01-01T12:00:00Z'
    Feature:
      type: object
      required:
        - name
        - description
        - featureType
      properties:
        id:
          type: integer
          format: int64
          example: 1
        meta:
          type: object
          description: A JSON object containing meta information.
          additionalProperties:
            type: object
        name:
          type: string
          example: Feature Name
        description:
          type: string
          maxLength: 2000
        featureType:
          type: string
          enum:
            - NUMERICAL
            - CATEGORICAL
          example: NUMERICAL
        featureDependency:
          type: string
          enum:
            - DEPENDENT
            - INDEPENDENT
          example: DEPENDENT
        visible:
          type: boolean
          example: true
        possibleValues:
          type: array
          items:
            type: string
        createdAt:
          type: LocalDateTime
          format: date-time
          description: The date and time when the feature was created.
          example: '2023-01-01T12:00:00Z'
        updatedAt:
          type: LocalDateTime
          description: The date and time when the feature was last updated.
          example: '2023-01-01T12:00:00Z'
    Dataset:
      type: object
      required:
        - type
        - input
      properties:
        id:
          type: integer
          format: int64
          example: 1
        type:
          type: string
          enum:
            - PREDICTION
          example: "PREDICTION"
        input:
          type: array
          items:
            $ref: '#/components/schemas/DataEntry'
        results:
          type: array
          items:
            $ref: '#/components/schemas/DataEntry'
        status:
          type: string
          enum:
            - CREATED
            - EXECUTING
            - FAILURE
            - SUCCESS
        failureReason:
          type: string
        created_at:
          type: LocalDateTime
        updated_at:
          type: LocalDateTime
    DataEntry:
      type: object
      required:
        - type
        - values
      properties:
        id:
          type: integer
          format: int64
          example: 1
        created_at:
          type: LocalDateTime
        updated_at:
          type: LocalDateTime
        type:
          type: string
          enum:
            - ARRAY
          example: "ARRAY"
        values:
          type: array
          items: { }


    Organization:
      type: object
      required:
        - name
        - contactEmail
        - visibility
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          pattern: '[\w\-_]+'
          minLength: 3
          maxLength: 200
          example: "my-awesome-org"
        creatorId:
          type: string
        description:
          type: string
          minLength: 3
          maxLength: 2000
          example: "An awesome organization for managing models."
        userIds:
          type: array
          items:
            type: string
        models:
          type: array
          items:
            $ref: '#/components/schemas/Model'
        contactEmail:
          type: string
          example: "contact@my-awesome-org.com"
        contactPhone:
          type: string
          example: "+1234567890"
        visibility:
          type: string
          enum:
            - PUBLIC
            - PRIVATE
        website:
          type: string
          example: "http://www.my-awesome-org.com"
        address:
          type: string
          example: "123 Organization St., City, Country"
        canEdit:
          description: If the current user can edit the organization
          type: boolean
        created_at:
          type: LocalDateTime
        updated_at:
          type: LocalDateTime
    OrganizationInvitation:
      type: "object"
      required:
        - userEmail
        - status
        - expirationDate
      properties:
        id:
          type: "string"
          format: "uuid"
          description: "ID of the invitation"
        userId:
          type: string
          description: "The user id associated with that invitation"
        userEmail:
          type: "string"
          format: "email"
          description: "Email address of the invited user"
        status:
          type: "string"
          enum:
            - "PENDING"
            - "REJECTED"
            - "ACCEPTED"
          description: "Status of the invitation"
        expirationDate:
          type: LocalDateTime
          description: "Expiration date of the invitation"
    User:
      title: User
      x-stoplight:
        id: 9md5jpvcelos8
      type: object
      required:
        - id
      properties:
        id:
          type: string
          x-stoplight:
            id: 0gri1l9rmiv13
        name:
          type: string
          x-stoplight:
            id: x0pm25vavfibz
        emailVerified:
          type: boolean
    AnyValue:
      description: Can be any value - string, number, boolean, array or object.
